<div class="nav1">
  <div class="ui top fixed menu">
    <a class="right item"></a>
  </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="leftmenu">
    <button mat-icon-button (click)="inputSideNav.toggle()">
      <mat-icon>view_list</mat-icon>
    </button>
    <a class="navbar-brand" routerLink="/"><img src="../../../../assets/seeds.png" /></a>
  </div>
  <button mat-icon-button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
    aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="collapse navbar-collapse" id="navbarButtonsExample">
    <ul class="navbar-nav justify-content-start">
      <li class="nav-item">
        <a class="nav-link" routerLink="quiero-aportar">Quiero Aportar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="soy-voluntaria">Soy Voluntario</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="actividades-organizacion">Actividades</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="item">
          <img *ngIf=" loggedIn" src="{{userLogged.photoUrl}}" class="rounded-circle mr-3" style="width: 30px">
          <button mat-icon-button *ngIf=" loggedIn" (click)="logOut()" class="ui green button"><mat-icon> directions</mat-icon>
          </button>

        </a>
      </li>
    </ul>
  </div>
</nav>


<!--<nav class="navbar navbar-expand-sm navbar-dark">
  <button mat-button (click)="inputSideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>


  <a class="navbar-brand me-2" href="#"><img class="img-fluid" alt="Semillas logo"
      src="../../../../assets/nav_logo.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav ms-3 justify-content-start">
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#pills-home" role="tab" aria-selected="true">Quiero Aportar</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#pills-profile" role="tab" aria-selected="false">Soy Voluntario</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#pills-contact" role="tab" aria-selected="false">Actividades</a>
      </li>
    </ul>

  </div>
</nav>
-->
