<nav class="navbar navbar-expand-sm navbar-dark">
  <a class="navbar-brand" href="#"><img class="img-fluid" alt="Semillas logo"
      src="../../../../assets/nav_logo.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav ms-3 justify-content-start">
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#pills-home" role="tab" aria-selected="true">Quiero Aportar</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#pills-profile" role="tab" aria-selected="false">Soy Voluntario</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#pills-contact" role="tab" aria-selected="false">Actividades</a>
      </li>
    </ul>

  </div>
</nav>
