<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">DETALLES</span>
  </div>
  <button mat-icon-button class="close-button2" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div *ngIf="volunter else recuperando" class="row">
    <div  class="col-md-6">
      <h2 class="center">Informacion Personal</h2>

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <p>
          <mat-card-title>{{volunter.name}} {{volunter.lastname}}</mat-card-title>
        </p>
        <p>
          <b>Email: </b> <mat-card-subtitle>{{volunter.email}}</mat-card-subtitle>
        </p>
      </mat-card-header>
      <mat-card-content>
        <p><b>Telefono: </b>{{volunter.phone}}  </p>
        <p>
          <b>DNI: </b>
          {{volunter.dni}}
        </p>
        <p>
          <b>Estado: </b>
          ACTIVO
        </p>
        <p>
          <b>Fecha de nacimiento:</b> {{volunter.birthdate | date:'mediumDate'}}
        </p>
        <p>
          <b>Fecha de Ingreso: </b>{{volunter.entry_date | date:'mediumDate'}}
        </p>

      </mat-card-content>

    </div>
    <div class="col-md-6" >
      <h2 class="center">Roles del Voluntario</h2>
      <p *ngIf="messageRoles===''  else mensajeroles">
        <mat-chip-listbox aria-label="Fish selection"
                       *ngFor="let role of volunter.roles">
          <mat-chip  [ngStyle]="{'background-color': '#4b597b'}"><span class="mat-chip">{{role.role_name |titlecase}}</span></mat-chip>
        </mat-chip-listbox>
      </p>
      <ng-template #mensajeroles>
        {{messageRoles}}
      </ng-template>
    </div>
  </div>
  <div class="row">
    <ng-template #recuperando align="center">
      <mat-spinner mode="indeterminate" class="center-spinner"></mat-spinner>
    </ng-template>
  </div>
</mat-dialog-content>
