.center{
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}
.center-spinner{
  margin: auto;
}
.row{
  margin: auto;
}

mat-chip-list{
  text-align: center;
}

h2{
  margin-bottom: 8px;
}
