.mdc-dialog__title{
  margin: 0 auto !important;
  display: flex;
  padding: 0!important;
  justify-content: space-between;
  border-bottom: 1px solid #2e7d32;
  background-color: #162939;
  color: #FFFFFF;
  //width: 94%;
  //position: relative;
}
