<div class="donations">
  <div class="title">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip selected color="primary" class="chip-title">
       <span class="let"> APORTE ÚNICO</span>
      </mat-chip>
    </mat-chip-list>
  </div>
    <form [formGroup]="donationForm" class="row">
        <div class="col-md-6">
            <mat-form-field appearance="standard">
              <mat-label>Monto de Aporte</mat-label>
              <input class="example-right-align"
                     required matInput type="number"
                     formControlName="donationAmount" placeholder="0">
              <mat-error *ngIf="paymentMethod.invalid">{{getErrorMessage()}}</mat-error>
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00 BOB</span>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Método de Pago</mat-label>
              <mat-select formControlName="paymentMethod">
                <mat-option *ngFor="let method of paymentMethods" [value]="method.value">
                  {{method.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="donationAmount.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Fecha de aporte</mat-label>
              <input required matInput formControlName="monthDay"
                     [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="monthDay.invalid">{{getErrorMessage()}}</mat-error>
              <mat-hint>Elige una fecha en la que realizaras el aporte</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6 views-fields">
             <span>¿ Desea recibir noticias ?</span>
             <mat-radio-group color="accent" formControlName="getNews">
               <mat-radio-button value="1">SÍ</mat-radio-button>
               <mat-radio-button value="2">NÓ</mat-radio-button>
             </mat-radio-group>
             <mat-form-field appearance="standard">
               <mat-label>Envío de noticias</mat-label>
               <mat-select formControlName="newsMethod">
                 <mat-option *ngFor="let method of paymentMethods" [value]="method.value">
                   {{method.name}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
        </div>
    </form>

  <button class="send-button" mat-raised-button color="primary">ENVIAR DATOS
    <mat-icon>save</mat-icon>
  </button>
</div>
