.header{
  border-bottom: 1px solid #2e7d32;
  width: 96%;
  padding-bottom: 8px;
  margin: 0 auto;
}

.img{
  width: 200px;
  max-height: 50px;
}
.title{
  float: right;
  font-size: 16px;
  letter-spacing: 0.08rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: -20px;
  padding: 10px 0;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}

.mat-form-field{
  //width: 100%;
  letter-spacing: 0.05rem;
}

.accept-bt{
  color: white;
  letter-spacing: 0.05rem;
}

.close-buton{
  position: relative;
  float: right;
  top: -4px;
  mat-icon{
    color: #000000;
  }
}

.mat-dialog-actions{
  padding: 20px;
}

.content{
  color: #333333;
  font-size: 13px;
  letter-spacing: 0.06rem;
}
.close-buton{
  position: relative;
  float: right;
  top: -4px;
  mat-icon{
    color: #000000;
  }
}

mat-dialog-content{
  padding: 24px 32px;
}
