.personal-info{
  padding: 8px;
  form{
    margin: 8px;
  }
}
mat-form-field{
  width: 100%;
  //padding-bottom: 8px;
  letter-spacing: 0.5px;
}
.cont-title{
  font-weight: 500;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 24px;
}

.chip-title{
  margin: 0 auto;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.views-fields{
  padding-top: 10px;
  padding-bottom: 20px;
  //padding-left: 24px;
}
.mat-radio-button{
  width: 20%;
  padding-top: 12px;
}
.back{
  margin: 12px auto;
  width: 200px;
}
.subtittle{
  font-weight: 500;
  letter-spacing: 0.5px;
  width: 100%;
}
mat-error{
  color: 	#ad2831;
}
