<div class="personal-info">
  <div class="cont-title">
    <mat-chip-listbox class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip selected color="primary" >
        <span class="chip-title">APORTE CONSTANTE</span>
      </mat-chip>
    </mat-chip-listbox>
  </div>
  <form [formGroup]="donationForm" class="row">
    <div class="col-md-12">
      <mat-form-field floatLabel="always"
                      appearance="fill">
        <mat-label>Monto de Aporte</mat-label>
        <input class="example-right-align"
               required matInput type="number"
               formControlName="contribution_amount" placeholder="0">
        <mat-error *ngIf="donationAmount.invalid">{{getDonationAmountError()}}</mat-error>
        <!--<span matPrefix>{{dolarsamount}}&nbsp;</span> -->
        <span matSuffix>.00 BOB</span>
        <mat-hint>{{childscount}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field floatLabel="always"
                      appearance="fill">
        <mat-label>Método de Pago</mat-label>
        <mat-select formControlName="paymentMethod">
          <mat-option *ngFor="let method of paymentMethods" [value]="method.value">
            {{method.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="paymentMethod.invalid">{{getPaymentMethodErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field floatLabel="always"
                      appearance="fill">
        <mat-label>Mes de inicio</mat-label>
        <mat-select formControlName="beginMonth">
          <mat-option *ngFor="let month of beginMonths" [value]="month.value">
            {{month.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="beginMonth.invalid">{{getbeginMonthErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field floatLabel="always"
                      appearance="fill">
        <mat-label>Día de aporte</mat-label>
        <mat-select formControlName="paymentDay">
          <mat-option *ngFor="let day of paymentNumberDays" [value]="day.value">
            {{day.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="paymentDay.invalid">{{getPaymentDayErrorMessage()}}</mat-error>
      </mat-form-field>
  </div>
    <div class="col-md-6">
      <mat-form-field floatLabel="always"
                      appearance="fill">
        <mat-label>Metodo de recordatorio</mat-label>
        <mat-select formControlName="reminderMethod">
          <mat-option *ngFor="let remmeth of reminderMethods" [value]="remmeth.value">
            {{remmeth.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="reminderMethod.invalid">{{getReminderMethodErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 views-fields">
      <div class="subtittle">¿ Desea recibir noticias ?</div>
      <mat-radio-group color="accent" formControlName="send_news">
        <mat-radio-button [value]="true">SÍ</mat-radio-button>
        <mat-radio-button [value]="false"> NÓ</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-md-6">
      <mat-form-field floatLabel="always"
                      appearance="fill" *ngIf="donationForm.get('send_news').value === true">
        <mat-label>Metodo envío de noticias</mat-label>
        <mat-select formControlName="sendNewsType">
          <mat-option *ngFor="let method of newsTypes" [value]="method.value">
            {{method.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="back">
    <button [disabled]="!donationForm.valid"
            mat-raised-button color="primary" (click)="sentData()">ENVIAR DATOS
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
