<div class="personal-info">
  <div class="title">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip selected color="primary" class="chip-title">
        APORTE CONSTANTE
      </mat-chip>
    </mat-chip-list>
  </div>
  <form class="row justify-content-between">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div><div class="col-md-6">
    <mat-form-field appearance="standard">
      <mat-label>Legacy form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div><div class="col-md-6">
    <mat-form-field appearance="standard">
      <mat-label>Legacy form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  </form>
</div>
