<div class="personal-info">
  <form [formGroup]="applicantForm">
    <div class="row justify-content-between">
      <div class="col-md-12 header-message" >{{'personal-info.subtitle' | translate}}</div>
      <div class="col-md-6">
       <!-- <span>Nombres</span> -->
        <mat-form-field
          floatLabel="always"
          appearance="fill">
          <mat-label>{{'personal-info.fieldName' | translate}}</mat-label>
          <input required matInput formControlName="name" >
          <mat-error *ngIf="name.invalid">{{'personal-info.fieldLastNameError' | translate}}</mat-error>
          <mat-hint>{{'personal-info.fieldNameHint' | translate}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field
          floatLabel="always"
          appearance="fill">
          <mat-label>{{'personal-info.fieldLastName' | translate}}</mat-label>
          <input required matInput formControlName="lastname">
          <mat-error *ngIf="lastname.invalid">{{'personal-info.fieldLastNameError' | translate}}</mat-error>
          <mat-hint>{{'personal-info.fieldLastNameHint' | translate}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field
          floatLabel="always"
          appearance="fill">
          <mat-label>{{'personal-info.fieldEmail' | translate}}</mat-label>
          <input required matInput formControlName="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
          <mat-hint>correo@gmail.vom</mat-hint>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field floatLabel="always"
                        appearance="fill">
          <mat-label>{{'personal-info.fieldPhone' | translate}}</mat-label>
          <input matInput formControlName="phone">
          <mat-error *ngIf="phone.invalid">{{'personal-info.fieldPhoneError' | translate}}</mat-error>
          <mat-hint>515151355.....</mat-hint>
          <mat-icon matSuffix> call</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field floatLabel="always"
                        appearance="fill">
          <mat-label>{{'personal-info.fieldBirthdate' | translate}}</mat-label>
          <input required matInput
                 formControlName="birthdate"
                 [matDatepickerFilter]="myFilter"
                 [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field floatLabel="always"
                        appearance="fill">
          <mat-label>{{'personal-info.fieldId' | translate}}</mat-label>
          <input required matInput formControlName="dni">
          <mat-error *ngIf="dni.invalid">{{'personal-info.fieldIdError' | translate}}</mat-error>
          <mat-hint>6846545</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field floatLabel="always"
                        appearance="fill">
          <mat-label>{{'personal-info.fieldCountry' | translate}}</mat-label>
          <mat-select required formControlName="country">
            <mat-option *ngFor="let c of countries" [value]="c.value">
              {{c.name | uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field floatLabel="always"
                        appearance="fill">
          <mat-label>{{'personal-info.fieldCity' | translate}}</mat-label>
          <mat-select required formControlName="city">
            <mat-option *ngFor="let c of countries" [value]="c.value">
              {{c.name |uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field floatLabel="always" appearance="fill">
          <mat-label>{{'personal-info.fieldAddress' | translate}}</mat-label>
          <textarea matInput
                    required
                    formControlName="address"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="5"></textarea>
          <mat-error *ngIf="dni.invalid">{{'personal-info.fieldAddressError' | translate}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
