<div class="add-buton">
  <button mat-fab color="primary"
          (click)="onAdding()"
          matTooltip="REGISTRAR NUEVO VOLUNTARIO">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-raised-button color="accent" (click)="openPDF()">Download PDF</button>

</div>
<div class="container" id="htmlData">
  <mat-card>
    <div  class="header">
      <span class="title">VOLUNTARIOS RESPONSABLE</span>
      <img class="img" src="../../../../assets/logo.png" />
    </div>
    <hr>
    <form [formGroup]="val">
      <mat-chip-listbox formControlName="state">
        <mat-chip-option [value]="'ACTIVE'" color="accent" selected>Activo</mat-chip-option>
        <mat-chip-option [value]="'INACTIVE'" color="warn">Inactivo</mat-chip-option>
      </mat-chip-listbox>
    </form>
  </mat-card>
  <ng-container *ngIf="!loadingVolunteers else isloading">
   <mat-card>
     <app-generic-table
       *ngIf="volunteers"
       [inputTable]="volunteers.rows"
       (actionOutput)="outputEvent($event)">
     </app-generic-table>
   </mat-card>
  </ng-container>
  <ng-template #isloading>
    <mat-spinner class="loading">
    </mat-spinner>

  </ng-template>
</div>
