.container{
  margin-top: 100px;
  width: 70%;
}
.table thead th{
  border-bottom-color: #102027;
  border-bottom:4px solid;
  border-top-color: #102027;
  margin-bottom: 5px;
}

th{
  background-color: #102027;
  color: #FFFFFF;
  letter-spacing: 0.08rem;
  height: 2.5rem;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
}
td{
  color: #333333;
  font-size: 13px;
  justify-content: center;
  letter-spacing: 0.06rem;

}
.ui.table{
  letter-spacing: 0.05rem;
}

.on-edit{
  color: #A5D6A7;
  width: 35px;
  height: 35px;
}

.on-delete{
  color: #C01823B2;
  width: 35px;
  height: 35px;
}

.on-view{
  color: #4285F499;
  width: 35px;
  height: 35px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent{

  background-color: rgba(253, 126, 20, 0.8);;
  color:white;
  font-size: 9px;
}


.header {
  letter-spacing: 0.1rem;
  font-size: 16px;
  font-weight: 400;
}

mat-chip{
  font-size: 10px;
}


.add-buton{
  position: absolute;
  margin-top: 100px;
  right: 10px;
}
