.container{
  margin-top: 80px;
  padding-bottom:  24px;
  .mat-mdc-card{
    border-radius: 10px!important;
  }
}

mat-expansion-panel-header{
  height: 100px;
}

.card-head{
  background-color: #212121;
  color: #FFFFFF;
  text-align: center;
  span{
    font-weight: 500;
    padding-bottom: 16px;
    margin: 0 auto;
  }
}

.matStepLabel{
  font-weight: 500!important;
  letter-spacing: 0.8px;
}

.next-button{
  margin-left: 12px;
  button{
    padding: 8px 32px;
  }
}

.send-data{
  width: 50%;
  margin: 12px auto;
  border-radius: 15px;
  border: 1px solid #ccd5ae;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #e9edc9;
  padding: 16px;
  display: flex;
  flex-direction: column;
  span{
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.8px;
  }
  .send-data-check{
    margin-top: 12px;
    margin-bottom: 16px;
  }
}
.spinn{
  margin: auto;
}
