::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}
.mat-dialog-content{
  padding: 36px 36px 12px 36px !important;
  letter-spacing: 1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.row{
  margin-top: 12px;
}

.mat-mdc-form-field-focus-overlay{
  background-color: #FFFFFF;
}
/*
.mdc-dialog__title{
  background-color: #2e7d32;
  padding: 0;
}
*/
