<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<div mat-dialog-title class="header">
  <span class="title">ASIGNAR SEMILLA A RESPONSABLE</span>
  <img class="img" src="../../../../assets/logo.png" />

</div>
<mat-dialog-content>
  <form [formGroup]="assignForm" class="row">
    <div class="col-md-12">
     <div class="volunter-cont">
       <mat-icon>person</mat-icon>
       <span>Luciana Gardezazabal</span>
     </div>
    </div>
    <mat-form-field appearance="standard"
                    [floatLabel]="'always'"
                    class="col-md-12">
      <mat-label>Seleccionar la semilla</mat-label>
      <input type="text"
             placeholder="Lucia...."
             aria-label="Number"
             matInput
             required
             formControlName="searchValue"
             [matAutocomplete]="auto">
      <mat-autocomplete
        (optionSelected)="selected($event)"
        autoActiveFirstOption #auto="matAutocomplete">
        <mat-option  (onSelectionChange)="updateMySelection($event)"
                     *ngFor="let option of filteredSeeds | async" [value]="option">
          {{option.largename}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field
      class="col-md-6"
      appearance="standard">
      <mat-label>Inicio de asignación</mat-label>
      <input formControlName="start_date"
             matInput
             required
             [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field
      class="col-md-6"
      appearance="standard">
      <mat-label>Fin de asignación</mat-label>
      <input formControlName="end_date"
             matInput
             required
             [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button (click)="confirm()" mat-raised-button color="primary">ASIGNAR</button>
</mat-dialog-actions>
