.header{
  //display: flex;
  //justify-content: space-between;
  border-bottom: 1px solid #2e7d32;
  width: 96%;
  padding-bottom: 8px;
  /*padding-top: -80px;
  margin-left: 24px;
  margin-right: -20px !important;*/
  margin: 0 auto;
}

.img{
  width: 200px;
  max-height: 50px;
}
.title{
  float: right;
  font-size: 16px;
  letter-spacing: 0.08rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: -20px;
  padding: 10px 0;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}

.mat-dialog-content{
  padding: 36px;
  letter-spacing: 1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.label{
  font-weight: 500;
  margin-bottom: 16px;
}
