.mat-chip{
  background-color: #102027;
  span{
    color: white!important;
    display: flex;
    padding: 6px 0;
  }
}

mat-dialog-content{
  padding: 24px !important;
  font-size: 0.9em!important;
}
.mdc-dialog__title{
  margin: 0 auto !important;
  display: flex;
  padding: 0!important;
  justify-content: space-between;
  border-bottom: 1px solid #2e7d32;
  background-color: #162939;
  color: #FFFFFF;
  //width: 94%;
  //position: relative;
}
.dialog-header{
 //padding:  12px;
  width: 96% !important;
  text-align: center;
  padding-top: 8px;
}
.dialog-title{
  font-size: 16px;
  letter-spacing: 0.08rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: -20px;
  padding:  16px 12px;
  margin-top: 8px;
}
