<div class="center" mat-dialog-title>{{title}}
  <button class="close-buton" mat-icon-button
          (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider inset></mat-divider>
<mat-dialog-content>
  <form [formGroup]="volunterform">
      <div class="row">
         <div class="col-md-6">
           <mat-form-field appearance="legacy">
             <label>Nombres</label>
             <input matInput formControlName="name" >
             <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
             <mat-hint>Hint</mat-hint>
           </mat-form-field>
         </div>
        <div class="col-md-6">
          <mat-form-field appearance="legacy">
            <label>Apellidos</label>
            <input matInput formControlName="lastname">
            <mat-error *ngIf="lastname.invalid">{{getErrorMessageLastname()}}</mat-error>
            <mat-hint>Puedes Ingresar mas de un apellido</mat-hint>

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="legacy">
            <label>Correo</label>
            <input matInput formControlName="email">
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            <mat-hint>correo@gmail.vom</mat-hint>

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="legacy">
            <label>Celular</label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="phone.invalid">{{getErrorMessagePhone()}}</mat-error>
            <mat-hint>515151355.....</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="legacy">
            <label>Fecha de nacimiento</label>
            <input matInput formControlName="birthdate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="legacy">
            <label>Carnet De Identidad</label>
            <input matInput formControlName="dni">
            <mat-error *ngIf="dni.invalid">{{getErrorMessageDNI()}}</mat-error>
            <mat-hint>68465456.</mat-hint>
          </mat-form-field>
        </div>
        <!--
        <div class="text-left text-danger" *ngIf="name.invalid && name.touched">
          Debes ingresar el nombre.
        </div>-->
       <!--
        <div class="field">
          <label>Apellidos</label>
          <input type="text" required formControlName="lastname"  placeholder="Apellidos">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Correo</label>
          <input type="email" required name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email"
                 placeholder="Correo">
          <div class="text-left text-danger" *ngIf="email.invalid && email.touched">
            Debes ingresar el correo.
          </div>
        </div>
        <div class="field">
          <label>Celular</label>

          <input type="text" name="phone" required class="form-control" #phone="ngModel" [(ngModel)]="user.phone"
                 placeholder="Celular">
          <div class="text-left text-danger" *ngIf="phone.invalid && phone.touched">
            Debes ingresar el Celular.
          </div>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Fecha de Nacimiento</label>
          <input type="date" required name="birthdate" class="form-control" [(ngModel)]="user.birthdate"
                 placeholder="Fecha de Nacimiento">
        </div>
        <div class="field">
          <label>Carnet de Identidad</label>
          <input type="text" name="dni" required class="form-control" #dni="ngModel" [(ngModel)]="user.dni"
                 placeholder="Carnet de Identidad">
          <div class="text-left text-danger" *ngIf="dni.invalid && dni.touched">
            Debes ingresar el Carnet de Identidad.
          </div>
        </div>
      </div>
-->
      </div>
  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true" (click)="onSubmit()" class="accept-bt" color="primary">REGISTRAR</button>
</mat-dialog-actions>
