.container{
  margin-top: 100px;
 display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}



mat-accordion{
  width: 100%;
  align-content: center;
}


.example-card {
  max-width: 400px;
  height: 400px;
  justify-content: center;
}
mat-card-title{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.float-bottom{
  position: absolute;
  bottom: 15px;
  width: 80%;
  text-align: center;
}
.float-bottom mat-icon{
  color: #00A846;
  letter-spacing: 0.1rem;
}

.float-top mat-icon{
  color: #00A846;
  letter-spacing: 0.1rem;
}
.float-top{
  position: absolute;
  top: 15px;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
mat-card-content{
  font-size: 13px;
  //font-family: 'Arial', sans-serif;
  letter-spacing: 0.1rem;
}

.positive{
  background-color: #21ba45;
  color: #fff;
  width: 100%;
}

.row{
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
