<div class="container">
  <mat-card>
    <mat-tab-group
      [backgroundColor]="'warn'"
      [selectedIndex]="index" mat-align-tabs="center">
      <mat-tab label="INFORMACIÒN PERSONAL">
        <app-personal-information
        (emitter)="move_tab($event)"
        ></app-personal-information>
      </mat-tab>
      <mat-tab label="TIPOS DE APORTE">
        <app-donations-types
          (emitter)="move_tab($event)"
        ></app-donations-types>
      </mat-tab>
      <mat-tab label="DETALLES DEL APORTE">
        <ng-container *ngIf="donationType==='CONSTANT'">
          <app-constant-donation></app-constant-donation>
        </ng-container>
        <ng-container *ngIf="donationType==='UNIQUE'">
          <app-unique-donation></app-unique-donation>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
