.container{
  margin-top: 100px;
 display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

mat-accordion{
  width: 100%;
  align-content: center;
}

.example-card {
  max-width: 400px;
  height: 400px;
  justify-content: center;
}
mat-card-title{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.float-bottom{
  display: flex;
  justify-content: center;
  bottom:0;
}
.float-bottom mat-icon{
  color: #00A846;
  letter-spacing: 0.1rem;
}

.float-top mat-icon{
  color: #00A846;
  letter-spacing: 0.1rem;
}
.float-top{
  position: absolute;
  top: 15px;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
mat-card-content{
  font-size: 13px;
  //font-family: 'Arial', sans-serif;
  letter-spacing: 0.1rem;
}

.positive{
  background-color: #21ba45;
  color: #fff;
  width: 100%;
}

.row{
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-md-6{
  display: flex;
  justify-content: center;
}

mat-form-field{
  width: 80%;
  letter-spacing: 0.05rem;
}
.accept-bt{
  background-color: #C02126E5;
  color: white;
  letter-spacing: 0.05rem;
}
.col-md-6{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.row{
  margin-bottom: 10px;
}
.text-left{
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.05rem;
}

.ui.button{
  background-color: #C02126E5;
  opacity: 60%;
  color: white;
  margin-left: 5px;
}

.center-button{
  margin-top: 100px;
  text-align: center;

}


.ui.form .field>label{
  color: #62757F;
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.05rem;
}

h4.ui.header{
  letter-spacing: 0.1rem;
  font-family: 'Cinzel', serif;
  font-size: 16px;
  padding-bottom: 10px;
}


.center{
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 18px;
  font-weight: 500;
}


mat-expansion-panel-header{
  height: 100px;
}
