

.home-image{
  margin-top: 28px;
  width: 970px;
  height: 674px;
  max-height: 100%;
}

.box-pasos{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.gutters{
  margin-top: 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px 15px;
  margin-right: 5%;
  margin-right: 5%;
}
.pasos-image{
  margin-bottom: 5px;
  width: 80px;
  height: 90px;
}
.pasos-transforma{
  color: #C02126;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.1em;
    padding: 10px 10px;
}

.pasos-letra{
  color: #343A40;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;

}
.pasos-tr{
  color: #343A40;
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 0px 10px;
  max-width: 900px;
}
.box{
  width: 300px;
  padding: 10px;
  margin: 15px;
}
