<mat-toolbar class="toolbar">
  <button (click)="back()" color="primary" mat-fab>
    <mat-icon>backspace</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <mat-card>
    <div  class="header">
      <span class="title">SEMILLAS ASIGNADAS</span>
      <img class="img" src="../../../../assets/logo.png" />
    </div>
    <hr>
    <div class="under-card">
      <ng-container *ngIf="!loadingSeed else loadingData">
        <div class="volunter-cont">
           <span class="name-cont"> <mat-icon>person_outline</mat-icon>
            Semilla => {{seed.name}} {{seed.lastname}}</span>
        </div>
       <div>
         <button (click)="openPDF()"
                 matTooltip="Exportar Registros"
                 mat-mini-fab color="primary">
           <mat-icon>cloud_download</mat-icon>
         </button>
         <button (click)="newDonation()"
                 matTooltip="Registrar nuevo aporte"
                 mat-mini-fab color="accent">
           <mat-icon>add_comment</mat-icon>
         </button>
       </div>
      </ng-container>
      <ng-template #loadingData>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </div>
  </mat-card>

  <ng-container *ngIf="!loadingTable else loading">
     <mat-card *ngIf="data.rows.length > 0" id="htmlData">
       <app-generic-table
         *ngIf="data"
         [inputTable]="data.rows"
         (actionOutput)="actionOutput($event)"
       >
       </app-generic-table>
     </mat-card>
    </ng-container>

  <ng-template #loading>
    <mat-spinner class="loading">
    </mat-spinner>
  </ng-template>
</div>

