.header {
  letter-spacing: 0.1rem;
  font-size: 16px;
  font-weight: 400;
}
/************/
.container{
  margin-top: 20px;
  width: 70%;
  z-index: -1;
}
.main{
  padding-top: 40px;
}
.loading{
  margin: 0 auto;
  z-index: 100;
}
.mat-tab{
  z-index: 1;
}

.add-button{
  position: absolute;
  margin-top: 20px;
  right: 10px;
}
