.container{
  width: 96%;
}
mat-card{
  margin-bottom: 12px;
}
.header {
  letter-spacing: 0.1rem;
  font-size: 16px;
  font-weight: 400;
}

.main{
  padding-top: 40px;
}
.loading{
  margin: 0 auto;
  z-index: 100;
}
.mat-tab{
  z-index: 1;
}

.add-button{
  position: absolute;
  margin-top: 20px;
  right: 10px;
}
mat-tab-group{
  padding-top: -50px;
}

.toolbar{
  width: 90%;
  margin-top: 40px;
  background-color: #A5D6A700;
  color: #1b7549;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 8px;
}
.title{
  float: left;
  font-size: 18px;
  letter-spacing: 0.08rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 14px 0;
}
hr{
  width: 96%;
  margin: 12px auto;
}
