<mat-toolbar class="toolbar">
  <button color="primary" mat-fab (click)="back()">
    <mat-icon>backspace</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
    <mat-card>
      <div  class="header">
        <span class="title">SEMILLAS ASIGNADAS</span>
        <img class="img" src="../../../../assets/logo.png" />
      </div>
      <hr>
      <div class="under-card">
        <ng-container *ngIf="!loadingVolunteer else loadingData">
          <div class="volunter-cont">
           <span class="name-cont"> <mat-icon>person_outline</mat-icon>
            Responsable => {{volunteer.name}} {{volunteer.lastname}}</span>
          </div>
          <button (click)="openAssinDialog()"
                  matTooltip="Asignar semilla a responsable"
                  mat-mini-fab color="accent">
            <mat-icon>group_add</mat-icon>
          </button>
        </ng-container>
        <ng-template #loadingData>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
      </div>
    </mat-card>
    <ng-container *ngIf="!loadingtable else loading">
     <mat-card>
       <app-generic-table
         *ngIf="data"
         [inputTable]="data.rows"
         (actionOutput)="actionOutput($event)"
       >
       </app-generic-table>
     </mat-card>
    </ng-container>
    <ng-template #loading>
      <mat-spinner class="loading">
      </mat-spinner>
    </ng-template>
</div>

<!--
  <mat-tab-group  [selectedIndex]="index" mat-align-tabs="center"
                  (selectedTabChange)="onTabChanged($event);"
                  mat-align-tabs="center">
    <mat-tab>

    </mat-tab>
    <mat-tab *ngIf="index===1">
      <app-list-seed-donations>
      </app-list-seed-donations>
    </mat-tab>
  </mat-tab-group>

 -->
