
.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.mat-nav-list .mat-list-item{
  color: #343A40;
  font-size: 13px;
}
.mat-nav-list .mat-expansion-panel-header{
color: #343A40;
  font-size: 13px;
}
