.pusher{
  background-color: #FFFFFF;
  height: 100%;
}
.container {
    text-align: justify;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: center;
}
.nfi {
    max-width: 70%;
    max-height: 70%;
    width:650px;
    height:400px;
    position:absolute;
    margin-top: 80px;
}

.noavailable {
    align-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    margin-top: 3%;
    max-width: 100%;
    display:flex;
    justify-content: center;

}

div.noavailable2{
    text-align:center;
    display:flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 500px;
    max-width: 100%;
    align-items: center;
  justify-content: center;
}

.login-button{
  width: 400px;
  height: 50px;
  border-radius:15px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.login-button:hover{
  background-color: #2e7d32;
  color: whitesmoke;
}

.voluntario{
  color: #343A40;
  margin-bottom: 3%;
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 500;

}

