/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'M PLUS 1 Code', sans-serif;
}
.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

mat-form-field{
  width: 100%;
  letter-spacing: 0.1em !important;
  margin-bottom: 16px;
}

.header{
  border-bottom: 1px solid #2e7d32;
  width: 96%;
  padding-bottom: 8px;
  margin: 0 auto !important;
}

.img{
  width: 200px;
  max-height: 50px;
}
.title{
  float: right;
  font-size: 16px;
  letter-spacing: 0.08rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: -20px;
  padding: 10px 0;
}

.mat-dialog-content{
  padding: 36px !important;
  letter-spacing: 1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
