.header {
  letter-spacing: 0.1rem;
  font-size: 16px;
  font-weight: 400;
}
/************/
.container{
  margin-top: 20px;
  width: 70%;
}
.main{
  padding-top: 40px;
}
.loading{
  margin: 0 auto;
  z-index: 100;
}

::ng-deep mat-tab-body {
  z-index: -1 /*!important*/;
}
