<div class="container">
 <mat-card>
   <div  class="header">
     <span class="title">SEGUIMIENTO</span>
     <img class="img" src="../../../../assets/logo.png" />
   </div>
   <hr>
   <form [formGroup]="filterform" class="row">
     <mat-form-field class="col-md-2 date-filter"
                     color="primary"
                     appearance="standard">
       <input formControlName="begindate"
              matInput [matDatepicker]="picker">
       <mat-hint>MM/DD/YYYY</mat-hint>
       <mat-datepicker-toggle matSuffix [for]="picker">
         <mat-icon matDatepickerToggleIcon
                   color="warn">date_range</mat-icon>
       </mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
     <mat-form-field class="col-md-2 date-filter"
                     color="primary"
                     appearance="standard">
       <input formControlName="enddate"
              matInput [matDatepicker]="picker1">
       <mat-hint>MM/DD/YYYY</mat-hint>
       <mat-datepicker-toggle matSuffix [for]="picker1">
         <mat-icon matDatepickerToggleIcon
                   color="warn">date_range</mat-icon>
       </mat-datepicker-toggle>
       <mat-datepicker #picker1></mat-datepicker>
     </mat-form-field>
     <mat-form-field class="col-md-2" appearance="standard">
       <mat-label>Metodo de pago</mat-label>
       <mat-select formControlName="paymentMethod" name="food">
         <mat-option *ngFor="let m of paymentMethods" [value]="m.value">
           {{m.name}}
         </mat-option>
       </mat-select>
     </mat-form-field>
   </form>
 </mat-card>
</div>
