.container{
  margin-top: 100px;
  max-width: 96%;
  padding-bottom: 24px;
}
.header {
  letter-spacing: 0.1rem;
  font-size: 16px;
  font-weight: 400;
}

.loading{
  margin: 0 auto;
  z-index: 100;
}
.mat-card{
  margin-bottom: 12px;
}


hr{
  width: 96%;
  margin: 12px auto;
}
